.drag-and-drop__child-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 150px;

  background-color: rgb(184, 120, 86);
  color: rgb(255, 234, 130);
  font-family: 'Comic Sans MS';
  font-size: 2.3rem;

  border: 2px solid rgb(184, 120, 86);
  border-radius: 25px;
}

.pdf-uploader {
  margin-top: 10px;
  margin-bottom: 50px;
}

.pdf-text {
  width: 80vw;
  height: 37rem;
  padding: 25px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(207, 163, 139);
  color: rgb(55, 55, 55);

  font-family: 'Arial';
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  line-height: 1.2rem;
}

.clear-pdf-btn {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background-color: rgb(184, 120, 86);
  color: rgb(55, 55, 55);
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 500;
}

.clear-pdf-btn:hover {
  background-color: rgb(204, 137, 101);
  cursor: pointer;
}
