.App {
  display: flex;
  flex-direction: column;
  height: 100%;

  text-align: center;
  background-color: #FFD300;
}

/* Allow .App container to take expand to 100% height */
html, body, #root {
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}