.App {
  height: 100%;
  text-align: center;
}

body {
  background-color: rgb(255, 234, 130);
}

.App__title {
  font-size: 3rem;
  font-family: 'Cooper Black';
  color: rgb(184, 120, 86);
  padding-top: 20px;
  padding-bottom: 40px;
}

h1 {
  margin: 0;
  padding: 0;
}
